<div class="row justify-content-between">
  <div class="col-md-auto col-12 my-4">
    <div class="row justify-content-evenly">
      <!-- Button Control -->
      <button
        *ngFor="let button of buttonsArr"
        class="col-auto btn btn-outline-dark rounded-pill fw-bold mx-2"
        (click)="manageItem(button.buttonName)"
      >
        {{ button.buttonName }}
      </button>
    </div>
  </div>
  <!-- Add New -->
  <div class="col-md-auto col-12 text-center my-4">
    <app-button-with-modal
      *ngIf="jobs !== undefined && departments !== undefined"
      (responseItem)="onUpdateUi($event)"
      [id]="'add'"
      [status]="'add'"
      [buttonName]="'Add New Entry'"
      [buttonClass]="'btn-primary'"
      [modalTitle]="'Add New Entry'"
      [submitButtonName]="'submit'"
      [jobs]="jobs"
      [departments]="departments"
    ></app-button-with-modal>
  </div>
</div>

<div *ngIf="items?.length === 0 || !items">
  <p>There is no Data</p>
</div>
<div *ngIf="items?.length > 0" class="table-responsive mb-5 mt-2">
  <table id="excel" class="table table-hover table-bordered">
    <!-- Table Header -->
    <thead class="table-dark">
      <tr>
        <th class="text-center" *ngFor="let item of tableHeader" scope="col">
          {{ item }}
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- Entries -->
      <tr *ngFor="let item of items">
        <ng-container *ngIf="tableStatus === 'Entries'">
          <th class="text-center" scope="row">{{ item.fullName }}</th>
          <td class="text-center">{{ item.job?.title }}</td>
          <td class="text-center">{{ item.department?.title }}</td>
          <td class="text-center">{{ item.mobileNumber }}</td>
          <td class="text-center">{{ item.dateOfBirth }}</td>
          <td class="text-center">{{ item.address }}</td>
          <td class="text-center">{{ item.email }}</td>
          <td class="text-center">{{ item.age }}</td>
        </ng-container>
        <ng-container
          *ngIf="tableStatus === 'Departments' || tableStatus === 'Jobs'"
        >
          <th class="text-center">{{ item.title }}</th>
          <td class="text-center">{{ item.description }}</td>
        </ng-container>
        <td class="text-center">
          <!-- Update -->
          <app-button-with-modal
            *ngIf="jobs !== undefined && departments !== undefined"
            (responseItem)="onUpdateUi($event)"
            [id]="'edit' + item.id"
            [status]="'edit'"
            [buttonClass]="'btn-success'"
            [modalTitle]="'Edit ' + tableStatus"
            [submitButtonName]="'Edit'"
            [item]="item"
            [jobs]="jobs"
            [departments]="departments"
            [icon]="'bi-pencil'"
          ></app-button-with-modal>
        </td>
        <!-- Delete -->
        <td class="text-center">
          <app-button-with-modal
            (responseItem)="onUpdateUi($event)"
            [id]="'delete' + item.id"
            [status]="'delete'"
            [icon]="'bi-trash'"
            [buttonClass]="'btn-danger'"
            [modalTitle]="'Delete ' + tableStatus"
            [submitButtonName]="'Delete'"
            [item]="item"
          ></app-button-with-modal>
        </td>
      </tr>
    </tbody>
  </table>
</div>
