<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-primary" type="submit" (click)="search()">
              Search
            </button>
          </form>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-6">
          <app-button-with-modal
            (responseEntry)="onUpdateUi($event)"
            [id]="'add'"
            [status]="'add'"
            [buttonName]="'Add New Entry'"
            [buttonClass]="'btn-primary'"
            [modalTitle]="'Add New Entry'"
            [submitButtonName]="'submit'"
          ></app-button-with-modal>
        </div>
        <div class="col-6">
          <button class="btn btn-outline-danger" (click)="logout()">
            Logout
          </button>
        </div>
        </div>
        </div>
        <div class="col-3">
          <button class="btn btn-success" (click)="downloadExcelSheet()">
            Export to Excel Sheet
          </button>
        </div>
      </div>
      <div class="table-responsive my-5">
        <table id="excel" class="table table-striped table-hover table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">Full Name</th>
              <th scope="col">Job</th>
              <th scope="col">Department</th>
              <th scope="col">Mobile Number</th>
              <th scope="col">Date of birth</th>
              <th scope="col">Address</th>
              <th scope="col">Email</th>
              <th scope="col">Age</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody *ngIf="entries">
            <tr *ngFor="let entry of entries">
              <th scope="row">{{ entry.fullName }}</th>
              <td>{{ entry.job.title }}</td>
              <td>{{ entry.department.title }}</td>
              <td>{{ entry.mobileNumber }}</td>
              <td>{{ entry.dateOfBirth }}</td>
              <td>{{ entry.address }}</td>
              <td>{{ entry.email }}</td>
              <td>{{ entry.age }}</td>
              <td>
                <app-button-with-modal
                (responseEntry)="onUpdateUi($event)"
                  [id]="'edit' + entry.id"
                  [status]="'edit'"
                  [buttonName]="'Edit'"
                  [buttonClass]="'btn-success'"
                  [modalTitle]="'Edit Entry'"
                  [submitButtonName]="'edit'"
                  [entry]="entry"
                ></app-button-with-modal>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
