<!-- Button trigger modal -->
<button type="button" (click)="getAllJobs()" class="btn rounded-pill" [ngClass]="buttonClass" data-bs-toggle="modal" [attr.data-bs-target]="'#'+id">
    {{buttonName}}
  </button>
  
  <!-- Modal -->
  <div class="modal fade" #modal [id]="id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" [attr.aria-labelledby]="status" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" [id]="status">{{modalTitle}}</h1>
          <button type="button" #closeButton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div *ngIf="formModel" class="modal-body">
          <app-dynamic-form [model]="formModel" [withSubmitButton]="false" #form></app-dynamic-form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger rounded-pill" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn rounded-pill" [ngClass]="buttonClass" (click)="onSubmit(id)">{{submitButtonName}}</button>
        </div>
      </div>
    </div>
  </div>